.navbar.navbar-expand-md.navbar-light {
    background-color: rgb(29, 201, 144);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.input-group {
   padding: 10px;
}
#texte {
    border: thick double rgb(29, 201, 144);
   
}

.footer-copyright {
    background-color: rgb(29, 201, 144);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    margin-bottom: 0;
}

.footer-copyright p {
    color: white;
    align-items: center;
}

#connection {
    color: white;
    text-decoration: none;
    margin-right: 6px;
}

textarea {
    resize: none;
}



